{
  "env": {
    "es6": true,
    "browser": false,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["airbnb", "prettier/react", "eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "semi": "error",
    "import/prefer-default-export": 0,
    "comma-dangle": 0,
    "prefer-destructuring": 0,
    "object-shorthand": "off",
    "strict": "off",
    "import/no-extraneous-dependencies": "off",

    "react/no-this-in-sfc": "off",
    "prefer-const": "off",
    "consistent-return": "off",
    "max-len": [
      "error",
      {
        "code": 500
      }
    ],
    "no-undef": "off",
    "no-unused-vars": "off",
    "import/order": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-boolean-value": "off",
    "react/prop-types": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "prefer-template": "off",
    "import/newline-after-import": "off",
    "import/no-dynamic-require": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "object-curly-newline": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-props-no-spreading": "off",
    "no-console": "off",
    "arrow-body-style": "off",
    "class-methods-use-this": "off",
    "import/no-unresolved": "off",
    "no-trailing-spaces": [
      "error",
      {
        "skipBlankLines": true
      }
    ],
    "padded-blocks": [
      "error",
      {
        "switches": "always"
      }
    ],
    "func-names": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "no-confusing-arrow": "off",
    "no-await-in-loop": "off",
    "no-else-return": "off",
    "no-nested-ternary": "off",
    "no-loop-func": "off"
  },
  "parser": "babel-eslint"
}
